# 03 — SQL Cleaning ETL

This notebook runs the full **SQL-based ETL pipeline** that cleans and standardises the data.

**Key tasks:**
- Normalise `Make` using the translations table (Chinese → English)
- Parse and standardise `Year_Month` into a canonical monthly date
- Convert `Units_Sold` into clean integers
- Remove invalid, missing, or non-positive rows
- Deduplicate per (Make, Body_Type, Month) using `ROW_NUMBER()`
- Join onto a normalised makes dimension (`makes_id`)
- Produce the final canonical table: `clean_sales_final`

This table is the single, reliable source of truth used by all downstream modelling.

In [ ]:
import sqlite3
import pandas as pd

DB_PATH = "data/auto_sales.db"
conn = sqlite3.connect(DB_PATH)

In [ ]:
cleaning_sql = """
DROP TABLE IF EXISTS makes;
CREATE TABLE makes AS
SELECT DISTINCT
       COALESCE(t.Make_English, TRIM(rs.Make)) AS Make_Normalised
FROM raw_sales rs
LEFT JOIN translations t
  ON TRIM(rs.Make) = TRIM(t.Make);

DROP TABLE IF EXISTS makes_id;
CREATE TABLE makes_id AS
SELECT ROW_NUMBER() OVER (ORDER BY Make_Normalised) AS MakeID,
       Make_Normalised
FROM makes;

DROP TABLE IF EXISTS raw_parsed;
CREATE TABLE raw_parsed AS
SELECT
    *,
    TRIM(Make)      AS Make_raw,
    TRIM(Body_Type) AS Body_Type_raw,
    Year_Month      AS Year_Month_raw,
    CASE
      WHEN LENGTH(Year_Month) >= 7 AND substr(Year_Month,5,1) IN ('-','/')
           THEN replace(Year_Month, '/', '-')
      ELSE NULL
    END AS Year_Month_iso
FROM raw_sales;

DROP TABLE IF EXISTS raw_filtered;
CREATE TABLE raw_filtered AS
SELECT *
FROM raw_parsed
WHERE COALESCE(Make_raw, '') <> ''
  AND COALESCE(Body_Type_raw, '') <> ''
  AND Units_Sold IS NOT NULL;

DROP TABLE IF EXISTS raw_numeric;
CREATE TABLE raw_numeric AS
SELECT *,
       CASE
         WHEN TRIM(Units_Sold) = '' THEN NULL
         ELSE CAST(REPLACE(Units_Sold, ',', '') AS INTEGER)
       END AS Units_Sold_n
FROM raw_filtered;

DROP TABLE IF EXISTS raw_positive;
CREATE TABLE raw_positive AS
SELECT *
FROM raw_numeric
WHERE Units_Sold_n IS NOT NULL AND Units_Sold_n > 0;

DROP TABLE IF EXISTS raw_dedup_prep;
CREATE TABLE raw_dedup_prep AS
SELECT *,
       COALESCE(Year_Month_iso, Year_Month_raw) AS Year_Month_canonical
FROM raw_positive;

DROP TABLE IF EXISTS raw_dedup;
CREATE TABLE raw_dedup AS
SELECT *
FROM (
  SELECT *,
         ROW_NUMBER() OVER (
           PARTITION BY Make_raw, Body_Type_raw, Year_Month_canonical
           ORDER BY Units_Sold_n DESC
         ) AS rn
  FROM raw_dedup_prep
)
WHERE rn = 1;

DROP TABLE IF EXISTS raw_dates;
CREATE TABLE raw_dates AS
SELECT *,
       CASE
         WHEN LENGTH(Year_Month_canonical) >= 7
         THEN substr(Year_Month_canonical,1,7) || '-01'
         ELSE NULL
       END AS Year_Month_clean
FROM raw_dedup;

DROP TABLE IF EXISTS raw_valid_dates;
CREATE TABLE raw_valid_dates AS
SELECT *
FROM raw_dates
WHERE Year_Month_clean IS NOT NULL;

DROP TABLE IF EXISTS clean_sales;
CREATE TABLE clean_sales AS
SELECT
    rd.*,
    mi.MakeID,
    mi.Make_Normalised AS Make_Normalised
FROM raw_valid_dates rd
LEFT JOIN makes_id mi
  ON mi.Make_Normalised = COALESCE(
       (SELECT Make_English 
        FROM translations 
        WHERE TRIM(translations.Make)=TRIM(rd.Make_raw)),
       TRIM(rd.Make_raw)
     );

DROP TABLE IF EXISTS clean_sales_final;
CREATE TABLE clean_sales_final AS
SELECT
    mi.MakeID,
    mi.Make_Normalised AS Make,
    TRIM(rd.Body_Type_raw) AS Body_Type,
    date(rd.Year_Month_clean) AS Year_Month,
    rd.Units_Sold_n AS Units_Sold
FROM clean_sales rd
LEFT JOIN makes_id mi
    ON mi.MakeID = rd.MakeID;

CREATE INDEX IF NOT EXISTS idx_clean_make  ON clean_sales_final(Make);
CREATE INDEX IF NOT EXISTS idx_clean_body ON clean_sales_final(Body_Type);
CREATE INDEX IF NOT EXISTS idx_clean_date ON clean_sales_final(Year_Month);
"""

conn.executescript(cleaning_sql)
print("SQL ETL executed.")

In [ ]:
clean_sample = pd.read_sql("SELECT * FROM clean_sales_final LIMIT 10;", conn)
display(clean_sample)